---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
PointerAlignment: Left
BreakBeforeBraces: Attach
NamespaceIndentation: All
AccessModifierOffset: -2
---
Language: Cpp
AlignTrailingComments: false
AlignEscapedNewlines: DontAlign
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: Yes
---
Language:  ObjC