BasedOnStyle: Google
Language: Cpp
BreakBeforeBraces: Attach
PointerAlignment: Left
TabWidth: 2
IndentWidth: 4
AccessModifierOffset: -2
ColumnLimit: 400
NamespaceIndentation: All
AlignTrailingComments: true
AlignEscapedNewlines: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
UseTab: Never